*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;

}


/* navbar section  */
.nav-container{
    display: flex;
    justify-content: space-around;
    /* background-color:aquamarine; */
}

.nav-logo{
    font-size: 2rem;
    
}

.nav-logo a{
    color: #333;
    text-decoration: none;
    font-weight: bold;
    
    
}

.nav-items{
    display: flex;
    align-items: center;
}

.nav-items a{
    color: #333;
    text-decoration: none;
    padding: 0px 30px;
    font-weight: bold;
}

.nav-btn{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}


/* hero section  */

.hero-container{
    display: flex;
    padding: 90px 50px;
    
}

.hero-text{
    flex: 1;
    padding-left: 60px;
    padding-top: 50px;
}

.hero-text h1{
    font-size: 4rem;
    font-weight: bold;
    color: #333;
}

.hero-text p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 2rem;
    padding-bottom: 10px;
}

.hero-btn{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.hero-image img{
    width: 600px;
    height: 400px;
    
}

/* about section  */

.about-image img{
    width: 500px;
    height: 400px;
    
}

/* contact section  */

.services-container{
    display: flex;
    padding: 90px 50px;
    
}

.services-item{
    flex: 1;
    padding: 30px;
}

.services-item h2{
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.services-item img{
    margin-left: 40px;
}

.service-detail{
    display: flex;
    padding: 50px;
}

.service-letters{
    flex: 1;
    padding-left: 60px;
    padding-top: 20px;
}

.service-letters h3{
    font-size: 1.9rem;
    font-weight: bold;
    color: #272727;
    padding-bottom: 10px;
}

.service-letters p{
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    padding-bottom: 10px;
}

.services-btn{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}
